@font-face {
    font-family: lalezar;
    src: url("assets/fonts/Lalezar-Regular.ttf");
}
@font-face {
    font-family: intro-bold;
    src: url("assets/fonts/Intro\ Bold\ Regular.otf");
}
@font-face {
    font-family: hacen;
    src: url("assets/fonts/Hacen-Algeria.ttf");
}
:focus {
    outline: none;
}
body {
    font-family: lalezar;
    margin: 0px;
    padding: 0px;
}
nav {
    width: 1166px;
    height: 76px;
    margin: auto;
    display: flex;
    margin-top:10px ;
    margin-bottom: 5px;
    align-items: center;
    font-size: 18px;
    font-family: lalezar;
}
.logo {
    height: 31.77px;
    width: 197.85px;
    margin-right: 75px;
    cursor: pointer;
}
.search-box {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    width: 450px;
    height: 40px;
}
.search-input {
    margin-left: 16px;
    width: 90%;
    background: none;
    color: #a5a5a5;
    outline: none;
    border: none;
}
.search-icon {
    height: 32px;
    width: 32px;
}
.search-button {
    background-color: #f3f3f3;
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
li, a {
    text-decoration: none;
    list-style: none;
}
.home {
    color: #ff783d;
    margin-left: 20px;
    margin-right: 16px;
    padding: 7px 27.5px;
    border-radius: 30px;
}
.home:hover {
    transition: 0.4s;
    background-color: #f3f3f3;
}

.lang1 {
    color: #ff783d;
    padding: 5px 10px;
    border-radius: 25px;
    margin-right: 5px;
}
.lang2 {
    color: #ff783d;
    border-radius: 25px;
    padding: 6px 8px;
}
.cart {
    border-radius: 31px;
    padding: 10px;
    width: 27px;
    height: 21px;
    margin-left: auto;
    margin-top: 0px;
}
.bell {
    border-radius: 31px;
    padding: 10px;
    width: 21px;
    height: 31px;
    margin-left: 5px;
    margin-top: 0px;
}
.bell-on-nav {
    border-radius: 30px 30px 0 0px;
    padding: 10px;
    width: 21px;
    height: 31px;
    margin-left: 5px;
    margin-top: 0px;
    background-color: #f3f3f3;
}
.profiles {
    border-radius: 31px;
    padding: 10px;
    width: 31px;
    height: 31px;
    padding: 10px;
    margin-left: 5px;
    margin-top: 0px;
    border-radius: 31px;
    cursor: pointer;
}
.profile-on-nav {
    background-color: #f3f3f3;
    border-radius: 30px 30px 0 0px !important;
}
#nav-profile {
    height: 25px;
    width: 125px;
    background-color: #f3f3f3;
    visibility: hidden;
    position: absolute;
    top: 70px;
    right: 60px;
    border-radius: 30px;
    font-family: intro-bold;
}
.show-profile {
    transition: all 0.2s;
    visibility: visible !important;
    height: 90px !important;
    width: 125px !important;
}
.my-profile {
    text-align: center;
    font-size: 16px;
    color: #ff783d;
}
.sign-out {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
    padding: 5px auto;
}

#fix {
    max-height: 31px;
    max-width: 31px;
    border-radius: 31px;
}
#nav-p {
    border-radius: 30px;
    background-color:#f3f3f3;
    height: 20px;
    width: 100px;
    position: absolute;
    top: 70px;
    right: 100px;    
    visibility: hidden;
}
.show-nav {
    transition: all 0.5s ease;
    visibility: visible !important;
    height: 230px !important;
    width: 200px !important; 
}

#hl {
    background-color: #f3f3f3;
}
#unr {
    font-family: hacen !important;
    font-size: 18px;
}
.line {
    width: 75%;
    height: 3px;
    border-radius: 30px;
    color: #ff783d;
    margin-top: 20px;
    margin-bottom: -20px;
    background-color: #ff783d;
}



/*  Main  */
.header-profile {
    text-align: center;
    margin-bottom: 75px;
    font-size: 40px;
    letter-spacing: 4px;
    color: #ff783d;
    font-family: intro-bold !important;
}
.profile-container {
    width: 1166px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-family: intro-bold !important;
}
.left {
    height: 100%;
    width: 75%;
}
.right {
    height: 100%;
    width: 25%;
}
.profile-image {
    width: 250px;
    height: 250px;
    margin-left: auto;
}
#photo {
    width: 100%;
    height: 100%;
    border-radius: 250px;
    object-fit: cover;
    object-position: center;

}
.photo {
    width: 100%;
    height: 100%;
    border-radius: 31px;
    object-fit: cover;
    object-position: center;
}
h2 {
    font-size: 20px;
    color: #ff783d;
    letter-spacing: 2px;
}
h3 {
    font-size: 20px;
    color: #a5a5a5;
}
.gap {
    margin-bottom: -15px;
}
.gap2 {
    margin-bottom: 50px;
    margin-left: 50px;
}
.gap3 {
    margin-bottom: 25px;
    margin-left: 25px;
}
.Edit-profile {
    padding: 10px 27px;
    background-color: #ff783d;
    border-radius: 30px;
    color: white;
}
.text-change-profile {
    text-align: center;
    margin-left: 50px;
    margin-top: 16px;
    font-size: 15px;
    letter-spacing: 2px;
}
.profile-inner-box {
    width: 100%;
}
#file {
    display: none;    
}
#uploadBtn {
    font-size: 18px;
    margin-left: 75px;
    padding: 7px 27px;
    background-color: #ff783d;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}
#uploadBtn:hover {
    transition: 0.4s;
    background-color: hsl(18, 100%, 62%,0.8);
}
.fix-gap2 {
    margin-left: 25px;
}
.change-name {
    color: #ff783d;
    background-color: #f3f3f3;
    padding: 7px 25px;
    border-radius: 30px;
    cursor: pointer;
}
.change-name:hover {
    transition: 0.4s;
    background-color: hsl(0, 0%, 95%,0.5);
}
.change-password {
    color: #ff783d;
    background-color: #f3f3f3;
    padding: 7px 25px;
    border-radius: 30px;
    cursor: pointer;
}
.change-password:hover {
    transition: 0.4s;
    background-color: hsl(0, 0%, 95%,0.5);
}



/* footer */


footer {
    width: 100%;
    height: 200px;
    background-color: #ff783d;
}
.wrapper {
    position: relative;
    width: 1166px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    color: white;
    font-family: intro-bold;
}
.app-box {
    width: 280.12px;
    height: 100px;
}
.app-text {
    margin: 15px;
    text-align: center;
    font-size: 25px;
    color: white;
}
.footer-logo {
    margin-left: 197px;
    width: 247.51px;
    height: 43.72px;
}
.social-box {
    position: absolute;
    top: 65px;
    right: 0px;
    width: 193px;
    height: 69.61px;
}
.social-text {
    letter-spacing: 1px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    color: white;
}
.social-icon {
    margin-top: 10px;
    margin-left: 10px;
}


/* javaScript style */
.js-style-box-name {
    width: 100%;
    display: flex;
}
.js-style-box-name2 {
    width: 225px;
    height: 25px;
    border: none;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-right: 0px;
    margin-left: 25px;
}
.js-style-name1 {
    width: 200px;
    height: 20px;
    margin-left: 15px;
    border: none;
    background-color: #f3f3f3;
    color: #a5a5a5;
}
.js-style-name2 {
    margin-left: 40px;
    padding: 5px 25px;
    border-radius: 30px;
    color: #ff783d;
    cursor: pointer;
    background-color: #f3f3f3;
}
.js-style-name2:hover {
    transition: 0.4s;
    background-color: hsl(0, 0%, 95%,0.5);
}

/*  new-password */
.password-box {
    position: relative;
}
.old-box {
    width: 225px;
    height: 25px;
    border: none;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-right: 0px;
    margin-left: 25px;
}
.new-box {
    width: 225px;
    height: 25px;
    border: none;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-right: 0px;
    margin-left: 25px;
    margin-top: 20px;
}
.confirm-box {
    position: absolute;
    top: 110px;
    left: 270px;
    background-color: #f3f3f3;
    height: 25px;
    width: 225px;
    border-radius: 10px;
    display: flex;
}
.input-old {
    margin-left: 20px;
    margin-top: 3px;
    background-color: #f3f3f3;
    border: none;
    color: #a5a5a5;
}
.input-new {
    margin-left: 20px;
    margin-top: 3px;
    background-color: #f3f3f3;
    border: none;
    color: #a5a5a5;
}
.input-confirm {
    margin-left: 20px;
    margin-top: 3px;
    background-color: #f3f3f3;
    border: none;
    margin-bottom: 4px;
    color: #a5a5a5;
}

.js-style-password {
    align-self: center;
    margin-left: 40px;
    padding: 5px 30px;
    border-radius: 30px;
    color: #ff783d;
    cursor: pointer;
    background-color: #f3f3f3;
}